.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0px;
  gap: 5px;
}

.item {
  list-style: none;
}
.optionName {
  color: rgb(0, 33, 50);
  margin: 0;
}
.resultSpan {
  color: rgb(4, 73, 103);
}
